<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" style="height:100%">
  <head>
		{% block head %}
			<meta charset="UTF-8">
			<title>{% block title %}{% endblock %}</title>
			<script src="/theme/js/jquery-1.11.3.min.js"></script>
			<script src="/theme/js/bootstrap.min.js"></script>
			<script src="/theme/js/bib-list.js"></script>
			<link href="/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="/theme/css/pygments.css" rel="stylesheet" type="text/css">
			<link href="/theme/fonts/fonts.css" rel="stylesheet" type="text/css">
			<link href="/theme/css/style.css" rel="stylesheet" type="text/css">
			<link href="/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		{% endblock %}
  </head>

  <body style="height:100%">
    <div class="container" style="height:100%">

			{% block toprow %}
			{% endblock %}

			<div class="row" style="height:100%">

				{% block sidebar_left %}
				{% endblock %}

				{% block content %}
				{% endblock %}

				{% block sidebar_right %}
				{% endblock %}

      </div>
    </div>
  </body>
</html>
