{% extends "dan.jinja" %}
{% block head %}
{{ super() }}
	<link  href='/css/fullcalendar.min.css' rel='stylesheet' type='text/css'>
	<script src='/js/moment.min.js'></script>
	<script src='/js/fullcalendar.min.js'></script>
	<script src='/js/gcal.min.js'></script>
	<script>
		$(function()
		{
			$('#calendar').fullCalendar(
			{
				googleCalendarApiKey: 'AIzaSyAIjl606tmYadx3n0VhnsK_NSzBqves1_8',
				eventSources:
				[
					{
						googleCalendarId: 'anjiro@gmail.com',
						className: 'private',
					},
					{
						googleCalendarId: '4lgn7tsqatstoc036vj4hiro90@group.calendar.google.com',
						className: 'public',
					},
				],
				header:
				{
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay',
				},
				defaultView: 'agendaWeek',
				eventColor: '#2a6496',
				scrollTime: '08:30:00',
				//timezone: 'Europe/Copenhagen',
				timezone: 'local',
			});

/*
			// load the list of available timezones, build the <select> options
			$.getJSON('/timezones.json', function(timezones) {
				$.each(timezones, function(i, timezone) {
					if (timezone != 'UTC') { // UTC is already in the list
						$('#timezone-selector').append(
							$("<option/>").text(timezone).attr('value', timezone)
						);
					}
				});
			});

			// when the timezone selector changes, dynamically change the calendar option
			$('#timezone-selector').on('change', function() {
				$('#calendar').fullCalendar('option', 'timezone', this.value || false);
			});
			*/
		});
	</script>
{% endblock %}

{% block content %}
<div class="col-xs-9" style="height:100%">
	<div id='calendar'></div>
	{{ page.content }}
</div>
{% endblock %}

{% block sidebar_right %}
{% endblock %}
