{% macro catlist(catname, articles) %}
	<section id="{{ catname | lower | replace(' ', '-') }}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>{{ catname | title }}</h2>
					<hr class="fa primary">
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<table class="table">
						{% for article in articles | sort(reverse=True, attribute='date') %}
							<tr class="portfolio-item">
								<td style="vertical-align:middle; text-align:center" id="paper-{{ loop.revindex }}">
									<a href="#portfolioModal-{{catname | lower}}{{ loop.revindex }}"
										class="portfolio-link" data-toggle="modal">
										<img src="/{{ catname | lower }}/{{ article.image }}" class="img-responsive">
									</a>
								</td>
								<td style="vertical-align:middle">
									<a href="#portfolioModal-{{catname | lower}}{{ loop.revindex }}"
										class="portfolio-link" data-toggle="modal">
										{{ article.content }}
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>

	{# This generates the pop-up pages for each item in a gridcat #}
	{% for article in articles %}
	<div class="portfolio-modal modal fade" id="portfolioModal-{{catname | lower}}{{loop.revindex}}"
			tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ article.title }}</h2>
								<hr class="star-primary">
								<img src="/{{ catname | lower }}/{{ article.image }}" class="img-responsive img-centered" >
								<div class="{{ catname | lower }}-content">
									{{ article.content }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endmacro %}
