{% extends 'fetlab_base.jinja' %}

{% block content %}
	<header>
		<section id="{{page.title}}">
			<div class="container">
					<div class="row">
						<div class="col-md-offset-2 col-md-8 text-center">
							<h2>{{ page.title | title }}</h2>
							<hr class="primary fa">
							{{ page.image }}
						</div>
					</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						{{ page.content }}
					</div>
				</div>
			</div>
		</section>
	</header>
{% endblock %}
