{% extends "dan.jinja" %}
{% block head %}
{{ super() }}
	<link  href='/css/fullcalendar.css' rel='stylesheet' type='text/css'>
	<script src='/js/moment.min.js'></script>
	<script src='/js/fullcalendar.min.js'></script>
	<script src='/js/fullcalendar-gcal.js'></script>
	<script>
		$(function()
		{
			$('#calendar').fullCalendar(
			{
				googleCalendarApiKey: 'AIzaSyAIjl606tmYadx3n0VhnsK_NSzBqves1_8',
				eventSources:
				[
					{
						googleCalendarId: 'anjiro@gmail.com',
						className: 'private',
					},
					{
						googleCalendarId: '4lgn7tsqatstoc036vj4hiro90@group.calendar.google.com',
						className: 'public',
					},
				],
				header:
				{
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay',
				},
				defaultView: 'agendaWeek',
				eventColor: '#2a6496',
				scrollTime: '08:30:00',
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col-xs-9" style="height:100%">
	<div id='calendar'></div>
</div>
{% endblock %}

{% block sidebar_right %}
{% endblock %}
