{% extends "base.jinja" %}
{% block head %}
{{ super() }}
<link href="/css/dan.css" rel="stylesheet" type="text/css">
{% if page.onload %}
<script>
	$(document).ready(function() { {{ onload }} });
</script>
{% endif %}
{{ page.extrahead }}
{% endblock head %}
{% block page.title %} {{page.title}} {% endblock %}

{% block content %}
	<div style='height:100%' class='col-xs-9'>
		{{ page.content }}
{% endblock %}
