body
{
	font-family: "Junction Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body, header section { background: url("/images/logo_tile.png") }
.col-md-8, #people { background: white }
.col-md-8
{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

footer h3
{
	margin-bottom: 15px;
	margin-top: 0;
}

h4 { text-transform: none }

p { font-size: 16px }

a, a:hover, a:focus, a:active, a.active
{
	color: #4ec9f4;
	outline: 0px none;
	text-decoration: none !important;
}

#publications a,
#publications a:hover,
#publications a:focus,
#publications a:active,
#publications a.active
{
	color: #434343;
}

#publications a:hover,
#publications a:focus,
#publications a:active,
#publications a.active
{
	border-bottom: 1px dotted #434343;
}

.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: #fa6900;
}

.carousel
{
    text-align: center;
    color: #fff;
    /*background: #4ec9f4;*/
}

.carousel img
{
    display: block;
    margin: 0 auto 20px;
}

.carousel .intro-text .name
{
    display: block;
    text-transform: uppercase;
    font-family:Junction,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;

}

.carousel .intro-text .skills
{
    font-size: 1.25em;
    font-weight: 300;
}

.carousel .carousel-image
{
	width: 100%;
	height: 0;
	padding-bottom: 42%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel h3
{
	font-weight: initial;
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: initial;
}

.logo { width: 178px }

.navbar-fixed-top, .navbar-fixed-top.navbar-shrink
{
	padding: 20px;
	transition: none;
}

.navbar-brand
{
	padding: 0;
	height: auto;
}

header
{
	color: #434343;
	background: white;
	text-align: left;
}

section { padding: 0 }
header section .container
{
	padding-top: 125px;
	padding-bottom: 25px;
}
section .container, section .container-fluid
{
	padding-top: 2em;
	padding-bottom: 4em;
}
/*section h2 { margin-bottom: .5em }*/

/* Allow multiple images to be displayed in a line */
header img { display: inline }


hr.primary
{
    /*margin: 25px auto 30px;*/
		margin-top: 0;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #2c3e50;
}

hr.primary:before
{
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
    color: #2c3e50;
    background-color: #fff;
}

hr.primary.white { border-color: #fff }

hr.fa
{
	display: block;
	line-height: inherit;
}

#people td {vertical-align: top}
#people td.desc p {font-size: 18px}
#people .icons
{
	width: 100%;
	text-align: center;
}

#people td.img
{
	width: 150px;
	height: 150px;
}
.people-image
{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#people .alum td.img
{
	width: 75px;
	height: 75px;
}
#people .alum .icons { text-align: left; }
#people .alum .fa-stack { font-size: 100%; }
#people .alum .name { font-weight: bold; }
